nav {
  .container {
    .navbarContents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Logo {
        font-size: 25px;
        span {
          color: blue;
          font-size: 40px;
        }
      }
      .Bars{
        margin-top: 14px;
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
                font-size: 22px;
                a{
                    color: black;

                }
            }
        }
      }
    }
  }
}
